*{
    margin: 0;
    padding: 0;
}
conatiner{
    height: 300px;
    width: 500px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
}